receivers:
  otlp:
    protocols:
      grpc:
      http:
        cors:
          allowed_origins:
            - "https://fuelpass-frontend-react-stagging.up.railway.app"
          allowed_headers:
            - "Content-Type"
            - "grpc-encoding"
          max_age: 7200

exporters:
  otlphttp/default:
    endpoint: "${HONEYCOMB_ENDPOINT}"
    headers:
      "signoz-ingestion-key": "${GENERAL_AUTH_TOKEN}"
    tls:
      insecure: false

  debug:
    verbosity: basic

  logging:
    verbosity: basic

processors:
  batch:

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/default]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp/default]