receivers:
  otlp:
    protocols:
      grpc:
      http:
        cors:
          allowed_origins:
            - "https://fuelpass-frontend-react-stagging.up.railway.app"
          allowed_headers:
            - "Content-Type"
            - "grpc-encoding"
          max_age: 7200

exporters:
  otlp/default:
    endpoint: "${DEFAULT_ENDPOINT:-api.honeycomb.io:443}"
    headers:
      "x-honeycomb-team": "${HONEYCOMB_API_KEY}"
      "Authorization": "${GENERAL_AUTH_TOKEN}"

  debug:
    verbosity: basic

  logging:
    loglevel: info

processors:
  batch:

extensions:
  health_check:
  pprof:
    endpoint: :1888
  zpages:
    endpoint: :55679

service:
  extensions: [pprof, zpages, health_check]
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/default, logging, debug]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlp/default, logging, debug]